*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #F9F7F3;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
}

.header{
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: fixed;
    color: white;
    padding: 25px 50px;
    margin-top: 150px;
    border-radius: 50px;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    padding: 20px;
}

p{
    padding: 20px;
}

.logo{
    color: #444;
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-left: 25px;
}

.nav-list a {
    color: rgb(37, 18, 18);
    text-decoration: none;
    font-size: 18px ;
}

.nav-list a:hover{
    text-decoration: underline;
    color: #A18561;
}

.buttoncont {
    background-color: #A18561;
    color: #FFFFFF;
    font-size: 20px;
    padding: 11px 40px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttoncont:hover{
    background-color: #665033;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #A18561;
    margin: 4px 0;
}

@media (max-width: 768px) {

    
    .nav-list {
        display: none;
        margin-top: 25px;
        flex-direction: column;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
        border-radius: 50px;
        transform: translateY(-100%); /* Começa escondido (fora da tela) */
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    .nav-list.active {
        display: flex;
        transform: translateY(0); /* Mostra o menu (desliza para baixo) */
    }
    
    .nav-list a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 18px ;
    }
    .nav-list a:hover{
        text-decoration: underline;
        color: #A18561;
    }
    
    
    .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
        
    }
    
    .buttoncont {
        margin-left: 0px;
        margin: 30px;
    }
}

/* BANNER */
.banner1{
    background: linear-gradient(0deg, #F9F7F3, #F9F7F3, #A18561);
    width: 90%;
    height: 60vw;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.txtmovel{
    color: #A18561;
    font-size: 20vw;
    font-family: Helvetica;
    position: absolute;
    margin-top: 100px;
    text-align: center;
    
}

.img-armariotv{
    position: absolute;
    width: 100%;
    margin-top: 4vw;
    
}


/*SESSÂO 2*/
.title-itens{
    background-color: #A18561;
    padding: 10px;
    height: 20px;
}
.containa{
    background-color: #111;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
}
.caixa{
    background-color: #A18561;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex; /* Centraliza */
    align-items: center; /* direciona */
    justify-content: center; /* direciona */
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    text-align: center;
}

.caixa:hover{
    transform: scale(1.2);
}